@use './partials/_variables.scss' as *;
@import url(https://db.onlinewebfonts.com/c/fa9e46a74f135bdaa4729f6b6ea7b5d8?family=Tuesday+Night+Regular);

@font-face {
    font-family: "Tuesday Night Regular";
    src: url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.eot");
    src: url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/fa9e46a74f135bdaa4729f6b6ea7b5d8.svg#Tuesday Night Regular")format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.rotate180 {
    transform: rotate(180deg);
}

.btn {
    width: 16em;
    height: 4.5em;
    margin: 2.5em 1.5em 0 0;
    display: flex;
    align-items: center;
    font-size: 0.8em;
    font-weight: bold;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        width: 100%;
        height: 100%;
        padding: 0 1em 0 3em;
        justify-content: space-between;
    }

    a:visited {
        color: inherit;
    }

    div {
        height: 3em;
        width: 0.1em;
        margin-left: 3em;
    }
}

.dFlex {
    display: flex;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bgWhite {
    background-color: white;
}

.bgBlack {
    background-color: black;
}

.bgOrange {
    background-color: #FF4613;
    color: white;
}

.bgGray {
    background-color: #FAFAFA;
}

.arrowBlack {
    filter: brightness(0) saturate(100%) invert(18%) sepia(0%) saturate(2684%) hue-rotate(308deg) brightness(100%) contrast(91%);
}

.px5 {
    padding: 0 5em;
}

.mx5 {
    margin: 0 5em;
}

.line {
    height: 0.1em;
    width: 4em;
    margin: 2em auto;
}

.rMore {
    padding-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

.lorem {
    color: #1E1E1E;
    font-weight: lighter;
    font-family: system-ui;
    font-size: 1.1em;
}